<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= google_maps_javascript_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'header' %>
  <%= yield %>
  <%= render 'footer' %>
</body>
</html>
